.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #e9e9e9;
  border: 1px solid #ccc;
  position: relative;
}

.goblin {
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  top: 10%;
  left: 10%;
}
